/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

li {
  list-style: none;
  display: inline-block;
}

ul{
  padding:0px;
}

a{
  text-decoration: none;
}

/******************************************
/* LAYOUT
/*******************************************/
header{
  padding: 0px 10%;
  position: absolute;
  height: 50px;
  width: 100%;
}

.nav-links, .nav-icons, .nav-logo{
  margin: 0px;
  padding: 0px;
  display: inline-block;
}

.nav-links-wrapper{
  float: right;
}

.nav-icons{
  float:right;
}

header li{
  margin: 0 20px;

}

main, .about{
  height: 800px;
  width: 100%;
}

main{
  padding-left: 10%;
  padding-top: 50px;
  background-color: #DEE9ED;
  background-image: url(../FLR_IPpWYBM4lL1.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}
main h1{
  font-size: 5.5rem;
  width: 50%;
}

.socials{
  margin-top: 50px;
}
.socials li{
  margin-right: 30px;
}

.about{
  background-image: url(../FLR_PsjXoAAXwE_.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: -600px;
  padding: 5% 10% 0% 40%;
  background-color: #F6F6f6;
}

.specialty{
  padding-top: 50px;
  text-align: center;
  background-image: linear-gradient(to right, #EEf2f3, #f2f6f7)
}

.food-images{
  width: 80%;
  display: inline-block;
}
.food-images li{
  float: left;
  width: 25%;
  padding: 1%;
}

.food-images img{
  width: 100%;
  height: auto;
}

.contact{
  background-image: linear-gradient(to right, #E9EDF0, #FFFFFF);
  text-align: center;
  padding: 5% 15%;
}

.fa-phone{
  font-size: 40px;
  vertical-align: center;

}

.phone-wrapper{
  border: 1px solid;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  line-height: 70px;
  text-align: center;
  display: inline-block;
  margin: 50px 0;
}

.phone-number{
  display: block;
  font-size: 2.5rem;
}

.day-time-container{
  text-align: left;
}

.left{
  padding-left: 5%;
  float: left;  
}

.right{
  padding-right: 5%;
  float: right;
}


.contact img{
  margin-top: 50px;
  clear: both;
  height: 600px;
  width: 100%;
  object-fit: cover; 
  object-position: 0 5%;
}

.customer{
  text-align: center;
  padding: 5% 10%;
}
.customer > *{
  display: block;
}

.customer img{
  display: inline-block;
  border: 0px solid black;
  border-radius: 50%;
  margin-top: 50px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/


/* Typography */

.fab{
  color: gold;
}

h2{
  font-size: 5rem;
}

h3 {
  margin: 0px;
  font-size: 4rem;
}

.about p, .customer p{
  line-height: 2rem;
}

.orange{
  color: #FF8800;
}

.day{
  font-size: 1rem;
}
.time{
  font-size: 1.5rem;
}

.gold{
  color: gold;
}

.name{
  font-size: 2rem;
}

.title{
  font-size: 1rem;
  color: silver;
}

