/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/
header {
     width: 100%;
     height: 100px;
}

nav {
     width: 100%;
     text-align: center;
     padding: 10px 20px;
     height: 60px;
}
nav > span, nav > a, nav > ul{
  line-height: 60px;
 }

nav span{
     float: left;
     margin: 10px;
     font-weight:700;
}

nav > a{
     float: right;
     margin: 10px;
     text-decoration: none;
     border: 0px solid black;
     padding: 10px;
}

ul a{
  text-decoration: none;
  color: #607384;
}

nav ul {
     display: inline-block;
     margin: auto;
     text-align: center;
     padding:0px;
}

nav li {
     display: inline-block;
     margin: 10px;
     text-decoration: none;
}

main{
     width: 100%;
     height:800px;
     padding-top: 50px;
}

main section{
     float: left;
     width: 50%;
}

.main-left {
     padding: 5% 10% 0 10%;
}

.main-right img{
     width: 100%;
     height: auto;
}

.main-left input {
     width:60%;
     height: 40px;
     border: none;
     background-color: #e1E9f0;
     padding-left: 10px;
}

.btn{
     width: 20%;
     padding: 0px;
     height: 40px;
     color: white;
     background-color: #2f4558; 
     border: none;
}

.nav-btn{
  width: 100px;
  line-height: 40px;
}

.main-left p{
     padding-right: 10%;
}

.features{
     padding: 0px 10%;
     clear: both;
}

.features section{
     margin-top: 100px;
     width: 21%;
     float: left;
     margin-right: 50px;
     margin: 100px 50px 100px 0;
}

.features i{
font-size: 50px;
}

.collecting{
  margin-top: 150px;
  padding: 0px 10%;
  width: 65%;
  background: white;
}

main, .features, header, body{
  background-color: #F5F9FC;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

/* Typography */

h1{
     font-size: 4rem;
}
p{
     font-size: 1.5rem;
}
h2{
  font-size: 3.7rem;
}

h1,h2,p,span,h3{
  color: #2f4558
}

.logo{
  font-size: 2.5rem;
}


@media screen and (max-width:1000px) {
  nav ul{
    display: none;
  }
  .nav-btn{
    display: none;
  }
  nav span{
    text-align: center;
    float: none;
  }

  header{
    border-bottom: 1px solid gray;
  }

  .main-left, .main-right{
    float: none;
    width: 100%;
   padding: 5%;
  }

  .main-left input {
    width:100%;
    height: 40px;
    border: none;
    background-color: #e1E9f0;
    padding-left: 10px;
    display: block
  }

  .main-left button{
    width: 100%;
    display: block;
    margin-top: 10px;
    font-size: 1.7rem;
    font-weight: 700;
  }

  .main-left p{
    padding: 0px;
  }

  .features section{
    float: none;
    width: 100%;
  }

  .collecting{
    width: 100%;
  }

  .collecting h2 {
    font-size: 3rem;
  }

  .collecting{
    margin: 0px;
    padding-top: 50px;
  }

  html{
    font-size: 12px;
  }
}