* {
  box-sizing: border-box;
}

header,footer{
  border: 1px solid black;
  height:100px;
  width:100%;
  clear:both;
}

section{
  height: 200px;
  width: 100%;
}

.col-1-1, .col-1-3, .col-2-3{
  border: 1px solid black;
  float: left;
  height: 100%;
}
.col-1-1{
  width:100%;
}
.col-1-3{
  width:33.3333%;
}

.col-2-3{
  width:66.6666%;
}