/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/
nav, main, aside {
  width: 10%;
  float:left;
}

nav {
  padding: 20px;
  height: 100%;
}

nav img{
  padding-bottom: 20px;
}
nav > a{
  display: block;
}

nav ul{
  margin: 0px;
  padding:0px;
}

nav ul li {
  list-style: none;
}

main{
  padding:20px;
  width: 50%;
}

main h1{
  margin: 0px;
  padding: 10px 0px;
}

.main-img{
  width: 100%;
  height: auto;
}

aside{
  width: 30%;
  padding-right: 3%;
}

aside li{
  list-style: none;
}

aside ul li {
  border-bottom: 1px solid rgba(119, 119, 119, .1);
  padding-bottom: 5px;
}

aside ul li:last-child{
  border-bottom: none;
}

.login{
  margin-bottom: 20px;
}

.latest{
  clear: both;
  padding-left: 10%;
  margin-left: 20px;
}

.latest p, .latest img, .latest-left{
  float: left;
  width: 33%;
}

.latest-left{
  width: 20%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

/* Typography */

body{
  font-family: 'Roboto', sans-serif;
}

h1{
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

.headline{
  color: black;
  font-weight: 700;
}

.name{
  color: black;
}

a,p,span{
  color: rgb(119, 119, 119)
}

nav a, nav li{
  text-decoration: none;
  margin-bottom:10px;
}

nav i {
  font-size: 1.25rem;
}

nav li{
  font-size: 1.5rem;
}

.extra{
  color: rgb(253, 192, 6);
}